@font-face {
	font-family: 'Gill Sans';
	src: url('../RingdocusWeb/fonts/gill-sans-2/Gill Sans.otf');
}


/*PALETTE
#091057 rgb(9, 16, 87) temno siniy
#024CAA	rgb(2, 76, 170) siniy
#EC8305	rgb(236, 131, 5) orangeviy
#DBD3D3 rgb(219, 211, 211) seriy*/

html, body {
	height: 100%;
}

section {
	justify-content: center; 
	align-content: center;
	display: block;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

#top-image {
	/*opacity: 0.7;*/
	opacity: 1.0;
	object-fit: cover;
	border-bottom: solid #DBD3D3 2px;
    width: 100%;
    position: absolute;
	min-width: 1600px;
	max-height: 1000px;
}

#top-image-2 {
	border-top: solid #DBD3D3 2px;
}

#top-image-div {
	height: 1000px;
}

#top-image-div-2 {
	display: flex;
	flex-wrap: flex;
	justify-content: space-between;
	height: 600px;
}

#top-image-div-2-rows {
	padding-top: 10%;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

#top-image-div-3 {
	height: 0px;
	position: relative;
    top: 300px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#top-image-div-4 {
	height: 200px;
}

#about1 {
	height: 600px;
}

#top-image-div-2-row-1 {
	float: left;
	/*border: 1px solid green;*/
	width: 50%;
	display: flex;
	padding-right: 2%;
}

#top-image-div-2-row-2 {
	float: right;
	/*border: 1px solid yellow;*/
	width: 50%;
	padding-left: 2%;
}

#textplace {
	margin: 1%;
	height: 300px;
	width: auto;
	/*border: 5px solid salmon;*/
}

#textplace-text1 {

}

#textplace-text2 {
	color: #024CAA;
	font-family: 'Gill Sans', Gill Sans Medium;
	font-weight: 700;
	font-size: 20px;
}

#photoplace {
	margin: 1%;
	height: 300px;
	width: 429px;
	margin-top: 150px;
	position: absolute;
	/*border: 5px solid salmon;*/
}

#USmap {
	min-width: 439px;
	max-height: 300px;
}

#phonenumbertext {
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
}

/*#USmap-Link {
	transition: 0.5s;
}*/

/*#USmap-Link:hover {
	transform: scale(1.1);
}*/

/*SHUTKAS*/

#doe {
	text-align: center;
	margin: 30px auto;
	font-size: 20px;
}

#Button {
	font-family: 'Gill Sans', sans-serif;
	font-size: 30px;
	width: 240px;
	height: 65px;
	border-radius: 80px;
	line-height: 60px;
	text-align: center;
	border: 3px solid #091057;
	text-transform: uppercase;
	position: relative;
	display: block;
	margin: 10px auto;
	color: #091057;
	position: relative;
	overflow: hidden;
	background: transparent;
	transition: 0.3s;
}

#Button:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: #091057;
	opacity: .6;
	top: -100%;
	left: 0;
	z-index: -1;
	transition:.3s;
}

#Button:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: #091057;
	top: -100%;
	left: 0;
	z-index: -1;
	transition: 0.3s;
	transition-delay: 0.2s;
}

#Button:hover {
	color: #fff;
}

#Button:hover:before {
	top: 0;
}

#Button:hover:after {
	top: 0;
}

#Button:active {
	background: #EC8305;
	border: 3px solid #EC8305;
}

/*NO MORE SHUTKAS*/

#top-image-text {
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#h1__top-image {
	color: #fff;
	font-size: 72px;
	margin-bottom: 0px;
}

#p__top-image {
	color: #fff;
	font-size: 20px;
	margin-bottom: 32px;
}

#a__top-image {
	color: #000;
	text-transform: uppercase;
	font-size: 15px;
	background-color: #fff;
	padding: 14px 14px 14px;
	transition: 0.2s;
}

#a__top-image:hover {
	color: #fff;
	background-color: #091057;
	padding: 14px 28px 14px;
}

#a__top-image:after {
	content: "\f101";
	font-family: 'fontAwesome';
	position: relative;
	left: -20px;
	opacity: 0;
	transition: .2s;
}

#a__top-image:hover:after {
	left: 10px;
	opacity: 1;
}

#a__top-image:active {
	color: #fff;
	background-color: #EC8305;
}

#h1__top-image-3 {
	color: #000;
	font-size: 72px;
	margin-bottom: 0px;
}

#p__top-image-3 {
	color: #000;
	font-size: 20px;
	margin-bottom: 32px;	
}

.Logo {
	/*width: 95%; */
	height: auto;
	transition: 0.5s;
	min-width: 199px;
}
.Logo:hover {
	transform: scale(1.1);
}

#Pannel {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', sans-serif;
	list-style: none;
}

#Language {
	font-family: 'Gill Sans', sans-serif;
}

a {
	font-weight: bold;
	/*display: block;*/
	text-decoration: none;
	font-family: 'Gill Sans', sans-serif;
}

h1 {
	font-weight: bold;
	display: block;
	text-decoration: none;
	font-family: 'Gill Sans', sans-serif;
}

p {
	font-weight: bold;
	/*display: block;*/
	text-decoration: none;
	font-family: 'Gill Sans', sans-serif;
	/*position: absolute;*/
}

/*HEADER*/

header {
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	background: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 1%;
	box-shadow: 0px 14px 28px #DBD3D3;
	position: relative;
}

header nav ul li {
	position: static;
	float: left;
}

header nav ul li a {
	padding: 15px;
	color: #000;
	font-size: 20px;
	font-weight: bold;
	display: block;
	text-decoration: none;
	transition: 0.2s;
	border-radius: 15px;
}

header nav ul li a:hover {
	/*background-color: #DBD3D3;*/
	color: #024CAA;
}

header nav ul li a:active {
	color: #EC8305;
}
/*header a {
	border: 5px solid red; Проверяет границы ссылок
}*/
#Logo-Link {
	/*margin: 0 0 0 0;*/
/*	display:inline-block;
	width: max-content;*/
	/*text-align: left;*/
}
body {
	height: 100vh;
	margin: 0;
	padding: 0;
/* 	background: linear-gradient(
		60deg,
		#091057,
		#024CAA,
		#EC8305
		);*/
	position: relative;
/*	overflow: hidden;*/
/*	justify-content: center;
	align-items: center;*/
}



/*FOOTER*/

footer div nav ul li a {
	float: left;
	font-weight: bold;
	display: block;
	text-decoration: none;
	color: #DBD3D3;
	transition: 0.2s;
}


footer div nav ul li a:hover {
	color: #fff;
}

footer div nav ul li a:active {
	color: #EC8305;
}

footer div nav ul li {
	font-weight: bold;
	display: block;
	text-decoration: none;
}

footer div nav ul {
	display: inline-block;
	justify-content: space-around;
}
footer div li {
	font-weight: bold;
	display: block;
	text-decoration: none;
}

footer div ul li {
}

#wrapper {
	display: flex;
	flex-direction: column-reverse;
	min-height: 1250px; 
	position: relative;
}

#container {
	color: #fff;
	display: grid;
	justify-content: space-around;
}

#footer {
	background-color: #000;
	padding: 32px 0 32px;
	color: #111;
	position: absolute;
	width: 100%;
	height: auto;
}

#footer__nav {
	text-align: center;

}

#footer__nav-list {

}


#footer__nav-item {
	text-align: left;
}

#footer__nav-title {

}

#footer__nav-link {

}

#footer__copyright {
	justify-content: center;
	max-width: 806px;
	margin: 0 auto;
	text-align: center;
}

#footer__copyright-text {
	font-size: 12px;
}

#WoT__item {
	text-align: center;
}

#WoT {
	
}

#WoT_link {
	

}

#WoT_link-image {

}
